/* hide the button by default */
#save-recipe {
    display: none;
}

/* The Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.8s
  }
  
  /* modal Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  /* modal hover */
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* modal Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }

  /* more modal Animation */
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  

/* Sections */
.section {
    padding: 8rem 0 7rem;
    text-align: center;
  }

/* background with image */
body {
background-image: url('../images/output-onlinepngtools.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-blend-mode: lighten;
}

/* main header */
header h1 {
  font-family: 'Handlee', cursive;
    font-size:72px;
    text-align:center;
    display:inline-block;
    position:relative;
    width:100%; /*Add this*/

}

/* h3s */
h3 {
  font-family: 'Handlee', cursive;  font-size: 40px;
}

/* the iframe - where the youtube video is embedded */
#iframe {
  width: 100%;
  margin: 0px;
  display: flex;
  align-items: flex-end;
  border-radius: 20px;
  border-style: none;
}

label { font-family: 'Handlee', cursive;
  font-size: 21px;
}

select {
  border-radius: 10px;
}

/*  button style */
.btn {
  margin-top: 10px;
  background: brown;
  color: white;
}

/* summary background */
#sum {
  background: rgba(56, 61, 57, 0.6);
  font-family: 'Handlee', cursive; font-size: 25px;
  color: white;
  display: none;
  align-items: center;
}

/* image style */
#img {
  width: 100%;
  border-radius: 9px;
  display: flex;
  align-items: flex-start;
 
  margin-bottom: 2rem;
}

/* sets some h3s with a different style */
#h3 {
  display: flex;
  align-items: flex-start;
}

#save-recipe {
  margin-bottom: 1rem;
}
